<div id="milestone_<%=milestone.id%>"  class="widget">
	<% remote_form_for milestone, :url => uncomplete_project_milestone_path(project, milestone) do |form| %>
	
	<div class="completed">				
	<span class=""><%= milestone.date.strftime("%A, %d %B %Y")%></span>
	<span class="name"><%= milestone.responsible.login if milestone.responsible %></sapn>
	<br>
	</div>


	<%= form.check_box(:completed, :onclick => "this.form.onsubmit()" )%>&nbsp; <%= milestone.title %>
	<span><%= link_to "edit", edit_project_milestone_path(project,milestone) %></span>
	
	<% end %>
	
	<%= render :partial => "a_milestone_todo_lists",
	 					 :locals => {:project => project, :milestone => milestone} %>
	
</div>