<div id="milestone_<%=milestone.id%>"  class="widget">
	<% remote_form_for milestone, :url => uncomplete_project_milestone_path(project, milestone) do |form| %>
	
	<div class="late">				
	<span><%= time_ago_in_words milestone.date.to_date %> ago </span>
	<span class="light">(<%= milestone.date.strftime("%A, %d %B %Y")%>)</span>
	<span class="name"><%= milestone.responsible.login if milestone.responsible %></sapn>
	<br>
	</div>


	<%= form.check_box(:completed, :onclick => "this.form.onsubmit()" )%>&nbsp; <%= milestone.title %>

	<% end %>
</div>