
<div class="block">
	<div class="block-header">
		Milestones <span class="today_tip">(Today is <%= Time.now.strftime("%d %B")%>)</span>
	</div>

	<div class="content">
		<div class="inner">
			<div id="all_late">
				<%= render :partial => "milestones_late",
				 					 :locals => {:project => @project, :milestones => @lates}
				%>
			</div>
			
			<div id="all_upcoming_weeks">
				<%= render :partial => "milestones_upcoming_weeks",
							:locals => {:project => @project, :milestones => @upcomings} %>
			</div>
			
			<div id="all_upcomings">
				<%= render :partial => "milestones_upcomings",
				 					 :locals => {:project => @project, :milestones => @upcomings}
				%>
			</div>
			
			<div id="all_completed">
				<%= render :partial => "milestones_completed",
				 					 :locals => {:project => @project, :milestones => @completed}
				%>
			</div>
			
			</div>
		</div>
</div>
<% content_for :sidebar do %>

<div class="block">
  <h3>Manage your milestones</h3>
  <ul class="navigation">
    <li><%= link_to "+ New milestone", 	new_project_milestone_path(@project) %> </li>
  </ul>          
</div>

<% end %>