<div class="block">
	<div class="block-header">
		Todo Lists
	</div>
	<div class="content">
		<div class="inner">
			
				<% @todo_lists.each do |todo_list|%>
					<div id="todo_list_<%=todo_list.id%>" class="todo_list">
						<div class="todo_list_title">
							<%= todo_list.name %>
						</div>
						
						<div class="content">
							<div id="todo_list_<%=todo_list.id%>_uncompleted_tasks" class="todos uncompleted">
								<ul id="sortable_todo_list_<%=todo_list.id%>">
									<% todo_list.todos.uncompleted.each do |todo| %>
										<%= render :partial => "todos/a_todo",
										 					 :locals => {:project => @project, :todo_list => todo_list, :todo => todo }
										 %>
									<% end %>
								</ul>
						
								<script>Sortable.create("sortable_todo_list_<%=todo_list.id%>", 
																				{handles:$$('sortable_todo_list_<%=todo_list.id%> img#drag_handle')});
								</script>
							</div>
						
							<%= render :partial => "todos/new_todo", 
												 :locals => {:project => @project, :todo_list => todo_list }
							%>
					
							<div id="add_todo_list_<%=todo_list.id%>" class="add_todo_list">
								<%= link_to_function("New todo"," 
								$('new_todo_list_#{todo_list.id}').show(); $('add_todo_list_#{todo_list.id}').hide();")%>
							</div>
						
							<div class="todos">
								<ul id="completed_items_<%=todo_list.id%>" >
									<% todo_list.todos.completed.each do |todo| %>
										<% @todo_list = todo_list %>
										<% @atodo = todo %>
										<%= render :partial => "todos/a_completed_todo",
															 :locals => {:project => @project, :todo_list => todo_list, :todo => todo } %>
									<% end %>
								
								<ul>
							</div>
						</div>
					</div>
				<% end %>

		</div>
	</div>
</div>


<% content_for :sidebar do %>
	<div class="block">
	  <h3>Manage your To-Do lists</h3>
	  <ul class="navigation">
	    <li><%= link_to "+ New Todo-list", 	new_project_todo_list_path(@project) %></li>
	  </ul>          
	</div>
<% end %>
