<p>
  <strong>Login:</strong>
  <%=h @user.login %>

  <strong>Email:</strong>
  <%=h @user.email %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
