<div class="block">
	<div class="block-header">
		People and permissions
	</div>

	<div class="content">
		<div class="inner">
			<%= render :partial => "new" , :locals => {:project => @project, :client => @project.clients.new }%>

			<div class="companies_and_users">
				<% @project.clients.each do |client|%>
				<% company = client.company %>
				<table class="company" >
					<tr id="company_<%=company.id%>" class="first">
						<td class="company_name" ><%=h company.name %></td>
						<% if current_account.company != company %>
						<td class="company_remove">
							<%= link_to "Remove company from project", 
							 						project_client_path(@project,client), :method => :delete,
													:confirm => "Are you sure ?"
							%>
						</td>
						<% end %>
					</tr>
					<% company.users.each do |user|%>
					<tr>
						<% if collaborator = user.participate?(@project) %>
						<%= render :partial => "collaborators/collaborator", 
											 :locals => { :project => @project, :user => user , :collaborator => collaborator }%>
						<% else %>
						<%= render :partial => "collaborators/not_a_collaborator", 
											 :locals => { :project => @project, :user => user }%>
						<% end %>
					</tr>
					<% end %>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar do %>


<% end %>