<% form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Link</b><br />
    <%= f.text_field :link %>
  </p>

  <p>
    <b>Is published</b><br />
    <%= f.text_field :is_published %>
  </p>

  <p>
    <b>License</b><br />
    <%= f.text_field :license_id %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
