<div class="block">
	<div class="block-header">
		<div class="block-header-links">
			<%= link_to "New milestones", new_project_milestone_path(@project) %> |
	    <%= link_to "New todo list",  new_project_todo_list_path(@project) %> 
		</div>
	  Project overview & activity
	</div>
	
	<div class="content">
		<div class="inner">
			
			<div id="all_uncompleted">
				<%= render :partial => "milestones/milestones_uncompleted",
							:locals => {:project => @project } %>
			</div>
			
			<%= render :partial => "milestones/overview",
						:locals => {:project => @project } %>
		
			
		</div>
	</div>
</div>

<% content_for :sidebar do %>
<div class="block">
  <h3>People on this project</h3>
  <ul class="navigation">
    <li><%= link_to "User1", "#" %> </li>
    <li><%= link_to "User2", "#" %> </li>
  </ul>          
</div>


  <div class="block">
    <h3>Manage your project</h3>
    <ul class="navigation">
      <li><%= link_to "Manage milestones", project_milestones_path(@project) %> </li>
      <li><%= link_to "Manage todo list", project_todo_list_path(@project) %> </li>
    </ul>          
  </div>

	<div class="block">
	  <h3>Github activity</h3>
		<div id="github_activity">
			<span>
		</div>
		<% javascript_tag do %>
			<%=remote_function (:update => "github_activity", 
													:url => last_commits_project_git_repositories_path(@project),
													:before => "$('github_activity').insert('loading github')")%>
		<% end %>
	</div>
<% end %>
