<div class="block">
	<div class="block-header">
		<div class="block-header-links">
			<%= link_to "New milestones", new_project_milestone_path(@project) %> |
	    <%= link_to "New todo list",  new_project_todo_list_path(@project) %> 
		</div>
	  Project overview & activity
	</div>
	
	<div class="content">
		<div class="inner">
			
			<div id="all_uncompleted">
				<%= render :partial => "milestones/milestones_uncompleted",				
							:locals => {:project => @project, :milestones_late => @project.milestones.late.related_to(@responsible_id), 
																								:milestones_upcoming => @project.milestones.upcoming.related_to(@responsible_id) } %>
			</div>
			
			<%= render :partial => "milestones/project_overview",
						:locals => {:todos => @project.todos.related_to(@responsible_id), :milestones => @project.milestones.related_to(@responsible_id)} %>
			
		</div>
	</div>
</div>

<% content_for :sidebar do %>

<div class="side_section">
	<div class="section_title" >People on this project</div>
	
	<% @project.clients.each do |client| %>
		<% company = client.company %>
		<h2 class="section_entry"><%= company.name %></h2>
		<% company.users.each do |user| %>
			<% if user.projects.include?(@project) %>
				<p>
					<%= user.full_name %>
					<% if user == current_user%>
						<br>
						<span class="section_entry_comment">You are logged in right now</span>
					<% end %>
				</p>
			<% end %>
		<%end%>

	<% end %>
</div>

<br/>
<div class="side_section">
	<div class="section_title">Assigned to:</div>
		<% project_users = @project.users.all.map {|u| 
														if u == current_user
															[" Me (#{ u.full_name}) ", u.id]
														else
															[" #{u.full_name} ", u.id]
														end 
												} %>
		<% user_list = options_for_select([["Anyone",""]]+project_users, @responsible_id.to_i) %>

		<% form_for :project, :url => project_path(@project), :html => { :method => :get } do |form| %>
			<%= select_tag ("responsible_id", user_list, :onchange => "this.form.submit()") %>
		<% end %>
	<div>
	
</div>


<!-- <br/> <br/>

	<div class="block">
	  <h3>Github activity</h3>
		<div id="github_activity">
			<span>
		</div>
		<%# javascript_tag do %>
			<%#=remote_function (:update => "github_activity", 
													:url => last_commits_project_git_repositories_path(@project),
													:before => "$('github_activity').insert('loading github')")%>
		<%# end %>
	</div> -->
<% end %>
