<div class="block">
	<div class="block-header">
		All Companies
	</div>
	<div class="content">
  	<div class="inner">
			<% if @companies %>
			<div class="companies_and_users">

				<% @companies.each do |company| %>
				<table class="company" >
							<tr id="company_<%=company.id%>" class="first">
								<td class="company_name" ><%=h company.name %></td>
							</tr>
							<tr>
								<td>
									<%= link_to "Edit", edit_company_path(company) %> | 
									<%= link_to "Add a person", new_company_user_path(company) %>
									
								</td>
							</tr>
					</table>
				<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>


<% content_for :sidebar do %>

<div class="block">
  <h3>Manage companies and users</h3>
  <ul class="navigation">
    <li><%= link_to "+ New company", 	new_company_path(@project) %></li>
  </ul>          
</div>

<% end %>