<% unless  todo.label.nil? %>
<span class="todo_label" style="color: #<%= todo.label.fg_color %>;background-color: #<%= todo.label.bg_color %>;"><%= todo.label.name.to_s.upcase %></span>
<% end %>
<span class="todo_responsible">
<%= todo.responsible.full_name + " / " if todo.responsible %> 
</span>

<%= todo.task %> (#<%= todo.id %>)

<span style="float:right">
	<%= link_to_remote "edit", 
			:url => edit_project_todo_list_todo_path (project, todo_list, todo),
			:method => :get
	%> /
<%= link_to_remote image_tag('trash.gif', :class => 'trash'), 
		:url => project_todo_list_todo_path(project,todo_list,todo),
			:method => :delete, :confirm => "are you sure?"
%>
</span>
