<div id="edit_todo_list_<%=todo_list.id%>" class="edit_todo_list">
	<% remote_form_for [project,todo_list, todo] do |form| %>
		<div style="padding-bottom:5px">
		<div class='small gray'>Enter a new to-do </div>
		<%= form.text_area :task, :rows => 3, :cols=>50 %>
		<div class='small gray' style="margin-top:5px">Who is responsable?</div>
		<%= form.select (:responsible_id, [["Vivien",1]],:include_blank => true)%>
		</div>
		<p class="submit"><%= form.submit "save" %> or 
			<%= link_to_remote "cancel", 
					:url => project_todo_list_todo_path (project, todo_list, todo),
					:method => :get
			%>
			
		</p>
	<% end %>
</div>
