  <div class="block" id="block-login">
    <h2>Login</h2>        
    <div class="content login">
			<% form_for @user_session , :html => {:class => "form log" }do |f| %>
				<div class="inner">
	        <div class="flash">
						<% if flash[:error]%>
						<div class="message error">
							<p><%= flash[:error] %><p>
						</div>
							<%= shake_login_on_error %>
						<br>
						<% end %>
					</div>
				</div>
        <div class="group">
          <div class="left">
				    <%= f.label :login, "Login", :class => "label right" %>
          </div>
          <div class="right">
            <%= f.text_field :login, :class =>"text_field" %>
          </div>              
          <div class="clear"></div>
        </div>

        <div class="group">
          <div class="left">
				    <%= f.label :password, "Password", :class => "label right" %>
          </div>
          <div class="right">
				    <%= f.password_field :password, :class =>"text_field" %>	</td>
          </div>              
          <div class="clear"></div>
        </div>

        <div class="group navform">
          <div class="right">
						<%= f.submit "Login" %>
          </div>
          <div class="clear"></div>
        </div>

			<% end %>
    </div>
  </div>

<%= set_focus_to_id("user_session_login") %>